.App {
	text-align: center;
	width: 100%;
	height: 100%;
}

.heading {
	float: left;
	width: 100%;
	height: 60px;
	background-color: rgb(4, 4, 134);
}

.title {
	float: left;
	width: 140px;
	color: yellow;
	margin-top: 10px;
	margin-left: 20px;
}

.lang-text {
	float: right;
	margin-right: 10px;
	color: yellow;
	font-weight: bold;
	position: relative;
	top: calc(50% - 12px);
}

.lang-dropdown {
	float: right;
	width: 100px;
	margin-right: 50px;
	position: relative;
	top: calc(50% - 12px);
}

.pokeprofile {
	float: left;
	width: calc(100% - 300px);
	height: calc(100% - 60px);
}

.pokelist {
	float: right;
	width: 300px;
	height: calc(100% - 60px);
}

.container {
	width: 100%;
	height: 100%;
}